<h1>activity page</h1>

  {{#each reports as |report|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <p>{{id}}. {{user.first_name}} {{user.last_name}}   / Service: {{service.service_name}} ${{service.price}} on {{format_date createdAt}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{user.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>



<!-- <script src="/js/user.js"></script> -->
