<div class="col-md-6">
    <h2>Record new Activity</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="first-name-signup">Select Service:</label>
        <select>
             {{#each services as |service|}}
            <option value=>{{service_name}}</option>
            {{/each}}
        </select>
        
      </div>
      <div class="form-group">
        <label for="last-name-signup">Select user</label>
      </div>
      <select>
       {{#each users as |user|}}
            <option value=>{{last_name}}</option>
            {{/each}}
        </select>    
            
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>




<div class="row">
  {{#each reports as |report|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <p>{{id}}. {{user.first_name}} {{user.last_name}}   / Service: {{service.service_name}} ${{service.price}} on {{format_date createdAt}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{user.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
</div>




<script src="/js/report.js"></script>
