<div class="row">
  {{#if services.length}}
  <div class="col-md-6 user-list">
    <h3>Current Services:</h3>

    {{#each services as |service|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>* {{service.service_name}}: ${{service.price}}</h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger delete-button" id={{service.id}}>DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
   
  <div class="col-md-6">
    <h2>Create New Service</h2>

    <form class="form service-form">
      <div class="form-group">
        <label for="service-name">New service name:</label>
        <input class="form-input" name="serviceName" type="text" id="service-name" value={{service_name}}>
      </div>
      <div class="form-group">
        <label for="service_price">Price:</label>
        <input class="form-input" name="price" type="text" id="service-price" value={{price}}>
      </div>
      
      <div class="form-group">
        <button class="btn btn-primary" type="submit" value="add service">Add service</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/service.js"></script>
